.container {
  display: flex;
  flex-direction: row;
  align-items: center;

  .search-bar {
    margin-top: 20px;
  }
}

.actions {
  button + button {
    margin-left: 10px;
  }

  button + a {
    margin-left: 10px;
  }
}

.checkbox {
  margin-right: 10px;
}
