.container {
  display: flex;
  flex-direction: column;
  margin-bottom: 1.5rem;
}

.reagents {
  margin: 1rem;
  display: grid;
  align-items: center;
  grid-template-rows: 1fr 1fr;
  gap: 0.25rem;
}

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem;
}
