@if (bakStateHandlerService.finishedLoading) {
  <div class="container">
    <app-search-bar
      [control]="filterControl"
      (searchSubmit)="queryLot($event)"
      formHint="Durchsucht die Tabelle. Mit Enter kann eine bestimmte Charge gesucht werden."
    ></app-search-bar>
    @if (lots$ | async; as lots) {
      <app-choose-type-filter></app-choose-type-filter>
      <app-data-table
        [schema]="columnsSchema"
        [data]="lots"
        (editClick)="editLot($event)"
        [detailRowTemplate]="detailRowTemplate"
      ></app-data-table>
    }
  </div>

  <ng-template #detailRowTemplate let-element>
    <!-- 
      This is the template which will be present upon clicking on the lot
      in the table. It will be displayed below the row.
      -->
    <div class="detail-row mat-row" style="overflow: hidden; margin-top: 1rem">
      <button mat-raised-button color="accent" (click)="openReagentTransferDialog(element.id)">
        Reagenzien verschieben
      </button>
      <div class="reagents">
        @for (reagent of element.reagents; track $index) {
          <app-reagent-edit
            (onPatchReagent)="patchReagent(reagent.id, $event)"
            [reagent]="reagent"
          ></app-reagent-edit>
        }
      </div>
      @if (element.reagents.length === 0) {
        <p>Keine Reagenzien vorhanden.</p>
      }
    </div>
  </ng-template>
} @else {
  <div class="loading">
    <mat-spinner></mat-spinner>
  </div>
}
