
<div class="container">
    @defer(when batch()) {
    @if (batch(); as batch) {
    <mat-card class="card">
        <mat-card-header class="card-header">
            <mat-card-title>Identifikator: {{batch.id}}</mat-card-title>
            <mat-card-subtitle>Batch</mat-card-subtitle>
            <mat-card-subtitle>{{batch.device.name}}: {{batch.analysis.name}}-{{batch.kind.name}}</mat-card-subtitle>
        </mat-card-header>
        <mat-divider></mat-divider>
        <mat-card-content class="card-content">
            <app-reagent-manage [reagents]="batch.reagents" (selectionChange)="handleReagentSelectionChange($event)" [activeReagent]="activeReagent()">
            </app-reagent-manage>
            <app-removal-manage [reagent]="activeReagent()" (onCreate)="handleRemovalCreation($event)"
                (onDelete)="handleRemovalDeletion($event)"></app-removal-manage>
        </mat-card-content>
        <mat-divider></mat-divider>
        <mat-card-footer class="card-footer">
            Restmenge: {{batch.current_amount}}/{{batch.initial_amount}}
            @if (loading()) {
                <mat-progress-bar mode="indeterminate"></mat-progress-bar>
            }
        </mat-card-footer>
        <mat-card-actions class="card-actions">
            <button mat-raised-button (click)="deleteBatch()" color="warn">Löschen</button>
        </mat-card-actions>
    </mat-card>
    } @else {
    <!-- This should not be displayed as we are redirected before this is displayed, anyhow this is here just to be sure-->
    <h1>Keine Batches gefunden</h1>
    }
    } @placeholder {
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
    }
</div>