.container {
    display: flex;
    margin: auto;
    justify-content: center;
    text-align: center;
}

.card {
    width: 50%;

    .card-header {
        text-align: left;
    }

    .card-content {
        display: grid;
        grid-template-columns: 1fr .5fr;

        height: 100%;
        margin-bottom: 1rem;
    }

    .card-footer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 1rem;
        margin: 1rem 0;
    }
}