<ng-container formArrayName="reagents">
  <div class="reagent-form">
    @for (reagentForm of reagentControls.controls; track $index) {
      <span
        [formGroup]="getReagentFormGroup($index)"
        class="row"
      >
        <mat-form-field appearance="fill">
          <mat-label>Reagenz</mat-label>
          <input
            matInput
            formControlName="id"
            placeholder="Reagenz-ID..."
            class="input-element"
          />
          <mat-hint>Bsp.: RTS150ING|U0623-017|250131|230626882</mat-hint>
          @if (
            getReagentFormGroup($index).controls['id'].hasError(
              'reagentAlreadyExists'
            )
          ) {
            <mat-error> Reagenz mit dieser ID existiert bereits. </mat-error>
          }
          @if (getReagentFormGroup($index).controls['id'].hasError('pattern')) {
            <mat-error> Das Format der Reagenz-ID ist ungültig. </mat-error>
          }
        </mat-form-field>
        <button
          mat-mini-fab
          color="warn"
          (click)="removeReagentFormGroup($index)"
          class="remove-button"
        >
          <mat-icon> delete_forever </mat-icon>
        </button>
      </span>
    }
    <div class="actions">
      <button
        class="add-button"
        mat-mini-fab
        color="accent"
        (click)="addReagentFormGroup()"
      >
        <mat-icon>add</mat-icon>
      </button>
      <button
        class="submit-button"
        mat-mini-fab
        color="accent"
        (click)="onSubmit.emit()"
        [disabled]="isDisabled()"
      >
        <mat-icon>done</mat-icon>
      </button>
    </div>
  </div>
</ng-container>
