<ng-container formArrayName="reagents">
    <div class="reagent-form">
        @for (reagentForm of reagents.controls; track $index) {
        <span [formGroup]="getReagent($index)" class="row">
            <mat-form-field appearance="fill">
                <mat-label>Reagenz</mat-label>
                <input matInput formControlName="id" placeholder="RTS150ING|U0623-017|250131|230626882"
                    (input)="cleanInput($index)" class="input-element">
                <mat-hint>Bitte geben Sie die Reagenz-ID ein.</mat-hint>
                <mat-error *ngIf="getReagent($index).controls['id'].hasError('reagentAlreadyExists')">
                    Reagenz mit dieser ID existiert bereits.
                </mat-error>
            </mat-form-field>
            <button mat-mini-fab color="warn" (click)="removeReagentForm($index)" class="remove-button">
                <mat-icon>
                    delete_forever
                </mat-icon>
            </button>
        </span>
        }
        <div class="actions">
            <button class="add-button" mat-mini-fab color="accent" (click)="addReagentForm()">
                <mat-icon>add</mat-icon>
            </button>
            <button class="submit-button" mat-mini-fab color="accent" (click)="onSubmit.emit()">
                <mat-icon>done</mat-icon>
            </button>
        </div>
    </div>
</ng-container>