<div class="reagents">
  <span class="reagents__name"> {{ reagent.location.name }}: </span>
  @for (buttonConfig of buttonConfigs; track $index) {
    <button
      class="custom-button"
      mat-mini-fab
      (click)="
        onPatchReagent.emit(
          buttonConfig.amountToBeAddedToTheReagent + reagent.amount < 0
            ? 0
            : buttonConfig.amountToBeAddedToTheReagent + reagent.amount
        )
      "
      [ngStyle]="{ 'grid-column': buttonConfig.gridColumn, 'grid-row': 1 }"
    >
      {{ buttonConfig.text }}
    </button>
  }

  <span class="reagents__amount">
    {{ reagent.amount }}
  </span>
</div>
