.text-start {
    text-align: start;
}
// change chip-color regardless of selection:
.mat-mdc-standard-chip.full {
  background-color: #3e8f3e;
}
.mat-mdc-standard-chip.empty {
  background-color: #b92c28;
}
.mat-mdc-standard-chip.partial {
  background-color: #d19b3d;
}

.reagents {
  max-width: 50%;
}